/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --first-color: #26A69A;
  --first-color-lighter: #ECF3F2;
  --title-color: #11443F;
  --text-color: #5B7B78;
  --body-color: #F5FFFE;
  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 3rem;
  --big-font-size: 1.25rem;
  --normal-font-size: .938rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 5.5rem;
    --big-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*========== BASE ==========*/
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, ul, p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== LAYOUT ==========*/
.main {
  position: relative;
}

.bd-container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*========== HEADER ==========*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

/*========== NAV ==========*/
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 1.5rem;
    background-color: var(--first-color-lighter);
    border-radius: 1rem;
    transition: .4s;
  }
}

.nav__logo, .nav__toggle {
  color: var(--body-color);
}

.nav__link {
  color: var(--first-color-dark);
  font-weight: var(--font-medium);
}

.nav__item {
  margin-bottom: 1.5rem;
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: calc(var(--header-height) + 1rem);
}

/*========== INLANDS ==========*/
.islands {
  height: 100vh;
  position: relative;
}

.islands__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.islands__container {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr .25fr;
  align-content: center;
}

.islands__subtitle, .islands__title, .islands__description {
  color: var(--body-color);
}

.islands__subtitle {
  font-size: var(--big-font-size);
  font-weight: var(--font-medium);
}

.islands__title {
  font-size: var(--biggest-font-size);
}

.islands__description {
  margin-bottom: 1rem;
}

.islands__button {
  display: inline-flex;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: var(--body-color);
  color: var(--first-color);
  border-radius: .5rem;
  font-weight: var(--font-medium);
}

.islands__button:hover {
  background-color: var(--first-color-lighter);
}


.form {
  background: transparent;
  display: flex;
  align-items: flex-end;
  padding-bottom: 0.75rem;
  height: 350px;
  width: 350px;
}

.form form {
  background: transparent;
  padding: 1rem;
  border-radius: 10px; /* Adjust the border radius as needed */
}

.form label,
.form input,
.form textarea,
.form button {
  background: transparent;
  border: none;
  outline: none;
  color: var(--body-color);
}

.form input,
.form textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px; /* Adjust the border radius as needed */
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value for transparency */
}

.form button {
  padding: 0.75rem 1.5rem;
  background-color: var(--body-color);
  color: var(--first-color);
  border-radius: 5px; /* Adjust the border radius as needed */
  cursor: pointer;
}

.form button:hover {
  background-color: var(--first-color-lighter);
}

.form textarea {
  resize: vertical;
}

/* Adjust the styling for the labels and other elements if needed */
.form label {
  margin-bottom: 0.5rem;
  color: var(--first-color);
  font-weight: var(--font-medium);
}



/*========== MEDIA QUERIES ==========*/
/* For small devices */
@media screen and (max-width: 320px) {
  .bd-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .controls__container {
    column-gap: .25rem;
  }
  .form {
    width: 230px;
    height: 100px;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-right: 2rem;
    margin-bottom: 0;
  }
  .nav__link {
    color: var(--body-color);
  }
  .nav__toggle {
    display: none;
  }
  .form {
    grid-template-columns: repeat(2, 1fr);
  }
  .islands__description {
    padding-right: 5rem;
    margin-bottom: 2rem;
  }
  .form{
    justify-content: center;
    align-items: center;
    padding: 0;
  }


  .swiper-slide-thumb-active {
    width: 55px;
    height: 55px;
  }
}

@media screen and (min-width: 1024px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
  .islands__description {
    padding-right: 11rem;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
  .islands {
    height: 640px;
  }
}
